docker/.env
/notebooks/.ipynb_checkpoints
/src/ingest/.ipynb_checkpoints
/src/ingest/__pycache__
/.ipynb_checkpoints
/notebooks/discovery/.ipynb_checkpoints
/src/transform/__pycache__
/src/transform/.ipynb_checkpoints
/src/.ipynb_checkpoints
/dags/.ipynb_checkpoints
/dags/__pycache__
